main {
    min-height: 80vh;
}

.product-title {
    font-size: 1.2rem;
    text-align: center;
}

.rating span {
    margin: 0.1rem;
    font-size: 0.9rem;
}

.rating .stars {
    color: #ffd700;
}

h4 {
    padding: 0.5rem 0;
}